@model MVCHomeWork.Models.Portfolio

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Portfolio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Admin" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InfoAboutMe" class="control-label"></label>
                <input asp-for="InfoAboutMe" class="form-control" />
                <span asp-validation-for="InfoAboutMe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InfoAboutStudy" class="control-label"></label>
                <input asp-for="InfoAboutStudy" class="form-control" />
                <span asp-validation-for="InfoAboutStudy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AboutWork" class="control-label"></label>
                <input asp-for="AboutWork" class="form-control" />
                <span asp-validation-for="AboutWork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Achievement" class="control-label"></label>
                <input asp-for="Achievement" class="form-control" />
                <span asp-validation-for="Achievement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input name="Image" type="file" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




